.main3Icon {
  position: absolute;
  top: 97.63rem;
  left: 0;
  width: 90.38rem;
  height: 44.5rem;
  object-fit: cover;
}
.aliveStudioBest {
  width: 70.33rem;
  position: relative;
  line-height: 4.38rem;
  display: inline-block;
  height: 8.13rem;
  flex-shrink: 0;
}
.aliveStudioIs {
  margin: 0;
}
.aliveStudioIsContainer {
  width: 56.06rem;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 2.25rem;
  font-family: var(--font-fauna-one);
  display: inline-block;
  height: 16.31rem;
  flex-shrink: 0;
}
.bookAConsultant,
.main2Txt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main2Txt {
  width: 70.33rem;
  height: 27.57rem;
  flex-direction: column;
  gap: 3.06rem;
}
.bookAConsultant {
  width: 24.41rem;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 4.75rem;
  height: 4.89rem;
  flex-shrink: 0;
}
.main2,
.main2Btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2Btn {
  width: 24.41rem;
  background-color: var(--color-black);
  justify-content: center;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-fauna-one);
}
.main2 {
  position: absolute;
  top: 43.75rem;
  left: 3rem;
  background-color: var(--color-gainsboro-100);
  width: 84.56rem;
  height: 50.06rem;
  justify-content: flex-start;
  padding: 4.38rem 7.24rem 4.38rem 7rem;
  box-sizing: border-box;
  gap: 2.38rem;
  text-align: center;
  font-size: var(--font-size-31xl);
  font-family: var(--font-cinzel);
}
.evolveHarrison3411Icon {
  position: absolute;
  top: 189.94rem;
  left: -0.06rem;
  width: 90.44rem;
  height: 50rem;
  object-fit: cover;
}
.gulmoharDecorzIsContainer {
  width: 70.5rem;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 2.25rem;
  display: inline-block;
  height: 29.75rem;
  flex-shrink: 0;
}
.about,
.aboutBtn,
.aboutUs {
  display: flex;
  align-items: center;
}
.aboutUs {
  width: 27.38rem;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 4.75rem;
  justify-content: center;
  height: 6.22rem;
  flex-shrink: 0;
}
.about,
.aboutBtn {
  flex-direction: column;
  justify-content: flex-start;
}
.aboutBtn {
  width: 27.38rem;
  border-radius: 5px;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.35rem;
  margin-top: -1.75rem;
  font-size: 1.88rem;
  color: var(--color-white);
}
.about {
  position: absolute;
  top: 364.69rem;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 90.38rem;
  height: 58.44rem;
  padding: 10.34rem 9.81rem 10.34rem var(--padding-142xl);
  box-sizing: border-box;
  text-align: center;
}
.frameChild {
  width: 24.06rem;
  position: relative;
  border-radius: 17px;
  height: 25.88rem;
  object-fit: cover;
}
.architectInner {
  width: 27.38rem;
  background-color: var(--color-gainsboro-200);
  height: 28.26rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.03rem 1.63rem;
  box-sizing: border-box;
}
.architectAn {
  line-height: false;
}
.principalDesigner {
  margin: 0;
  line-height: false;
}
.architectAnupamSinghContainer {
  width: 41.75rem;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  height: 29.29rem;
  flex-shrink: 0;
}
.architect {
  position: absolute;
  top: 239.94rem;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 90.44rem;
  height: 47.44rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.14rem var(--padding-141xl) 9.01rem;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.withABackgroundContainer1 {
  width: 100%;
}
.withABackgroundContainer {
  width: 27.5rem;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 2.06rem;
  display: flex;
  align-items: center;
  height: 30.69rem;
  flex-shrink: 0;
}
.main5 {
  position: absolute;
  top: 287.63rem;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 45.19rem;
  height: 38.31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2.31rem 7.81rem;
  box-sizing: border-box;
  font-size: 1.13rem;
}
.decorz,
.gallery,
.home {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.decorz {
  width: 18rem;
  height: 2.19rem;
}
.gallery,
.home {
  width: 3.94rem;
}
.gallery {
  width: 7rem;
  height: 1.44rem;
  opacity: 0.5;
}
.frame1 {
  width: 21.25rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10.31rem;
}
.services {
  width: 6rem;
  position: relative;
  display: inline-block;
  opacity: 0.5;
}
.contact,
.frame,
.frame2,
.services {
  height: 1.44rem;
  flex-shrink: 0;
}
.contact {
  width: 6.38rem;
  position: relative;
  display: inline-block;
  opacity: 0.5;
}
.frame,
.frame2 {
  width: 20.63rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8.25rem;
}
.frame {
  width: 49.19rem;
  height: 1.56rem;
  gap: 7.31rem;
  font-size: var(--font-size-xl);
  font-family: var(--font-fauna-one);
}
.nav,
.navbar {
  width: 90.38rem;
  display: flex;
}
.nav {
  background-color: var(--color-white);
  height: 3.63rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 2.44rem 0;
  box-sizing: border-box;
  gap: 18rem;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-6xl);
  font-family: var(--font-cinzel);
}
.frameItem {
  width: 85.44rem;
  position: undefined;
  background-color: var(--color-white);
  height: 46.06rem;
  margin-top: 39.38rem;
}
.evolveAthertonbrookline251Icon {
  width: 52.13rem;
  position: relative;
  height: 46.06rem;
  object-fit: cover;
}
.frame3,
.rectangleParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame3 {
  width: 52.13rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.rectangleParent {
  position: absolute;
  top: 240.94rem;
  left: -0.06rem;
  width: 90.44rem;
  height: 85.44rem;
  flex-direction: row;
  gap: var(--gap-9xs);
}
.desktop14 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 452.19rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-fauna-one);
}
