.whatServicesCan {
  margin: 0;
}
.interiorDesignersAim,
.whatServicesCan {
  line-height: false;
}
.interiorDesignersAimToPlan {
  margin: 0;
}
.whatServicesCanContainer1 {
  width: 100%;
}
.whatServicesCanContainer {
  width: 34.19rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 8.5rem;
  flex-shrink: 0;
}
.whatIsTheContainer {
  width: 34.56rem;
  position: relative;
  height: 9.94rem;
}
.frame,
.whatIsTheContainer,
.whatServicesCanContainer2 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame {
  width: 34.56rem;
  height: 19.69rem;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xl);
}
.whatServicesCanContainer2 {
  width: 34.06rem;
  position: relative;
  height: 10.69rem;
}
.faqHead,
.faqTxt1 {
  position: absolute;
  left: 0;
}
.faqTxt1 {
  top: 6.38rem;
  width: 70.38rem;
  height: 19.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xl);
}
.faqHead {
  top: 0;
  font-size: var(--font-size-31xl);
  line-height: 4.38rem;
  font-family: var(--font-cinzel);
  text-align: center;
}
.faqTxt {
  width: 8.13rem;
  position: relative;
  height: 4.38rem;
}
.faq {
  position: absolute;
  top: 326.38rem;
  left: -0.25rem;
  background-color: var(--color-gainsboro-100);
  width: 90.66rem;
  height: 38.56rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-58xl) var(--padding-142xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-fauna-one);
}
