.evolveHarrison200741Icon {
  position: absolute;
  top: 0;
  left: 3159.5px;
  width: 1446.7px;
  height: 712px;
  object-fit: cover;
}
.evolveHarrison200742Icon,
.evolveHarrison200743Icon,
.evolveHarrison200745Icon {
  position: absolute;
  top: 0;
  left: 4739.3px;
  width: 1446.7px;
  height: 712px;
  object-fit: cover;
}
.evolveHarrison200742Icon,
.evolveHarrison200743Icon {
  left: 0;
}
.evolveHarrison200742Icon {
  top: 30px;
  left: 1579.8px;
}
.slideComponent4 {
  width: 1447px;
  height: 742px;
  overflow: hidden;
}
